name: Build app Ionic
on: [push]
jobs:
  Build-App-Ionic:
    runs-on: ubuntu-latest
    steps:
      - name: Check out do reposit처rio
        uses: actions/checkout@v3
      - name: Configura a vers찾o do Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      # - name: Cache node_modules
      #   uses: actions/cache@v2
      #   with:
      #     path: ~/.npm
      #     key: ${{runner.os}}-node-${{ hasFiles('**/package-lock.json') }}
      #     restore-keys: ${{ runner.os }}-node-
      - name: Instalar Ionic
        run: npm install -g @ionic/cli
      # - name: Ver vers찾o Ionic
      #   run: ionic -info
      - name: Instalar Angular
        run: npm i -g -D -E @angular/cli
      # - name: Ver vers찾o Angular
      #   run: ng version
      - name: Fazer build
        run: ionic build
      # - name: Instalar e fazer Build
      #   run: |
      #     npm install
      #     npm run build